ion-list{
    padding: 10px;
    ion-item{
        border-bottom:1px solid  lightgray;
        border-left:1px solid  lightgray;
        border-right:1px solid  lightgray;
        border-top:1px solid #ffd;
        margin-top: 10px;
    }
}

